<h1>this is agregar</h1>

<%= form_for(@response) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<div>
<%= link_to "regresar", tasks_path %>
</div>
